<!-- En tu archivo adoptadas_list.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Mascotas Adoptadas</title>
    <!-- Agrega el enlace al CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="container mt-5">
    <h1>Listado de Mascotas Adoptadas</h1>
    <!-- Agrega un botón para ir a la página de ingreso de mascotas -->
    <a href="{% url 'ingresar_mascota' %}" class="btn btn-primary mt-3">Ingresar Mascota</a>

    <!-- Agrega un botón para ir a la página de lista de mascotas adoptadas -->
    <a href="{% url 'listado_mascotas' %}" class="btn btn-primary mt-3">Listado Mascotas</a>

    <ul class="list-group">
        {% for mascota_adoptada in mascotas_adoptadas %}
            <li class="list-group-item">
                <strong>Nombre de la mascota:</strong> {{ mascota_adoptada.mascota.nombre_m }}<br>
                <strong>Tipo de Animal:</strong> {{ mascota_adoptada.mascota.animal_m }}<br>
                <strong>Raza de la mascota:</strong> {{ mascota_adoptada.mascota.raza_m }}<br>
                <strong>Género de la mascota:</strong> {{ mascota_adoptada.mascota.genero_m }}<br>
                <strong>Fecha de adopción:</strong> {{ mascota_adoptada.fecha_adopcion }}<br>

                <!-- Mostrar el adoptante si existe -->
                <strong>Adoptante:</strong>
                {% if mascota_adoptada.adoptante_nombre %}
                    {{ mascota_adoptada.adoptante_nombre }} (RUT: {{ mascota_adoptada.adoptante_rut }}) - Ciudad: {{ mascota_adoptada.ciudad_a }}
                {% else %}
                    No adoptada
                {% endif %}
                <br>
            </li>
        {% endfor %}
    </ul>

    <!-- Agrega los scripts de Bootstrap al final del body -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
