<!-- En tu archivo listado_mascotas.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Animales en Adopción</title>
</head>
<body>
    <h1>Listado de Animales en Adopción</h1>
    <ul>
        {% for mascota in mascotas %}
            <li>
                {{ mascota.nombre }} - {{ mascota.descripcion }}
                <form method="post" action="{% url 'eliminar_mascota' mascota.id_mascotas %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'ingresar_mascota' %}" class="btn btn-primary">Ingresar Mascota</a>
</body>
</html>