<!-- En tu archivo listado_mascotas.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de mascotas en Adopción</title>
</head>
<body>
    <h1>Listado de mascotas en Adopción</h1>
    <ul>
        {% for mascota in mascotas %}
            <li>
                Nombre: {{ mascota.nombre_m }}<br>
                Raza: {{ mascota.raza_m }}<br>
                Vacunada: {% if mascota.vacuna_m %}Sí{% else %}No{% endif %}<br>
                Tipo: {{ mascota.tipo_m }}<br>
                Género: {{ mascota.genero_m }}<br>
                Fecha de Nacimiento: {{ mascota.fecha_nac_m }}<br>
                Tamaño: {{ mascota.tamaño_m }}<br>
                Color: {{ mascota.color_m }}<br>
                Comportamiento: {{ mascota.comportamiento_m }}<br>
                Peso: {{ mascota.peso_m }}<br>
                Especie: {{ mascota.especie_m }}<br>
            </li>
        {% endfor %}
    </ul>

    <!-- Agrega un botón para ir a la página de ingreso de mascotas -->
    <a href="{% url 'ingresar_mascota' %}" class="btn btn-primary">Ingresar Mascota</a>
</body>
</html>
